<script src='https://connect.humanapi.co/connect.js'></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<img id='connect-health-data-btn' src='https://connect.humanapi.co/assets/button/blue.png'/>
<script>
  var connectBtn = document.getElementById('connect-health-data-btn');
  connectBtn.addEventListener('click', function(e) {
    var HUMANAPI_APP_ID ='6369f3d888308cb48bdcf218795669a7ab8e47f2';
    if (!userdata.accessToken) {

      var options = {
        clientUserId: userdata.local.email,
        clientId: HUMANAPI_APP_ID,
        finish: function(err, sessionTokenObject) {
          // callback that would be called after user finishes connecting her health data
          // you need to post `sessionTokenObject` to your server
          // append `clientSecret` to it and send it to our server.
          console.log(sessionTokenObject)
          $.get('auth/humanapi', sessionTokenObject, function(res){

          });
        }
      }
      HumanConnect.open(options);

    } else {

      var options = {
        publicToken: userdata.accessToken, // you should have this from the succesful authentication flow
        clientUserId: userdata.local.email, // can be email or any other unique identifier
        close: function() {
          console.log('you just closed the edit mode')
          // optional callback. Handle when user closes popup
        }
      }
      HumanConnect.open(options);

    }

  });

</script>
