<% include header %>

  <style>
    body    { padding-top:80px; }
  </style>
</head>
  <body>
    <div class="container">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Humanode</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    </div>

<% include footer %>