<% include header %>


<head>

  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>

  <script>
    var userdata = JSON.parse('<%- userdata %>');
  </script>

</head>

<body>
<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>

          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %><br>
            <%= include connect %>
          </p>
          
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Data</h3>

          <p>
            <strong>AccessToken</strong>: <%= user.accessToken %><br>

          </p>
          
      </div>
    </div>


  </div>

</div>


<% include footer %>